body{
    background-color: rgb(37, 41, 72);
    min-height: 100vh;
    font-family:'Roboto';
}

.header{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);  
    padding: 8px 0;
}

.header>span{
    margin-left: 40px;
}

.header>button{
    margin-right: 30px;
}

.btns-group{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.scudetto{
    width:40px;
    height: 40px;
    border-radius: 35px;
    object-fit: cover;
    margin-left: 30px;
}

.uk-button{
    border-radius: 5px;
}

.uk-button>span{
    margin-right: 5px;
}

.arancione{
    background-color: #ff8922;
    margin-right: 10px;
}

button:hover {
    background-color: #ffba5f;
    transition: ease 0.2s;
}

.campo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: auto;
}

.campo {
    position: relative;
    max-width: 700px;
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:2;
    margin: 0 40px;
    margin-top: 40px;
}

.panchina{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0);
    margin-right:40px;
    max-width: 400px;
}

.panchina-titolo{
    width:100%;
    display: flex;
    justify-content: center;
}

.panchina-titolo>h5{
    color: rgb(247, 247, 247);
    font-size: 1.6rem;
}


.background {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Assicurati che l'immagine sia dietro la griglia */
}

.uk-grid-large {
    width:70%;
    margin-top: 10px;
    position: relative; /* Posiziona la griglia sopra l'immagine di sfondo */
    z-index: 2; /* Maggiore rispetto all'immagine di sfondo */
}

.uk-grid-small{
    width:80%;
}

.left{
    text-align: center;
}

.number{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15px;
    color: black;
}

.giocatore{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(132, 132, 132);
    border-radius: 5px;
    width:110%;
    color:black;
    cursor:-webkit-grab;
}

.presidente{
    width:100%;
    background-color: rgb(38, 38, 38);
    color: white;
}



.presidente-title{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presidente-title>h3{
    color:white;
}

#offcanvas-flip{
    width:500px;
}

.uk-offcanvas-bar{
    width:500px;
}

.dati{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.uk-input{
	margin: 5px 0;
}
